{% extends  "portfolio/layout.html" %}
{% load static %}
{% block title %}About This Website{% endblock %}
{% block main %}
<section class="projects">
  <div class="titleM">
    <h1>About This Website</h1>
    <div class="lineM"></div>
  </div>

  <br>

  <div class = "videoTexto">
  <p style="text-align: center;">Este website foi feito com base nas linguagens html, css, js, python e django.</p>
  <p style="text-align: center;">Link para o video: <a href="">Clique aqui</a></p>
  <center><img src = "{% static 'portfolio/images/logo.png' %}" class="imagemATW"></center>
  </div>
</section>


{% endblock main %}





