{% extends "portfolio/layout.html" %} 
({% load static %}) 
{% block title %}Blog{%endblock %} 

{% block main %}

<div class="headerBlog">
    <h1 class="h1TituloBlog">BLOG</h1>
    <p class="pBlog">
        Aplicação de um blog que pode ser visualizado e em que lhe podem ser
        adicionados POSTS!
    </p>
    <br>
  </div>
  


<div class="forms">
  <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}

      <div style="text-align: center;">
          <input type="submit" value="Adicionar Post" class="btn-success">
      </div>
  </form>
  
</div>


<br>

<div class="division">
    <span class="button_sports">General</span> 
    <hr>
</div>

{% for post in posts %}
{% if post.typeOfChoice == 1%}
    <div class="post-container">
        <div class="post">
            <div class="post-content">
                <div class="post-author">{{ post.autor }}</div>
                <div class="post-date">{{ post.data }}</div>
                <div class="post-title">{{ post.titulo }}</div>
                <div class="post-description">{{ post.descricao }}</div>
                {% if post.link %}
                <div class="post-link">
                    <a href="{{ post.link }}">{{ post.link }}</a>
                </div>
            {% endif %}
                <br>
            </div>
            <a href="{% url 'portfolio:delete' post.id %}" class="btn-delete">Delete</a>

            <div class="like">
                <a href="{% url 'portfolio:like' post.id %}" class="curti">👍🏻</a>
                <span class="corSpanBlog">{{post.like}}</span>

                <a href="{% url 'portfolio:deslike' post.id %}" class="curti">👎🏻</a>
                <span class="corSpanBlog">{{post.deslike}}</span>
            </div>
            
        </div>
{%endif%}
{% endfor %}

<br>

<div class="division">
    <span class="button_sports">Music</span> 
    <hr>
</div>

{% for post in posts %}
{% if post.typeOfChoice == 2%}
    <div class="post-container">
        <div class="post">
            <div class="post-content">
                <div class="post-author">{{ post.autor }}</div>
                <div class="post-date">{{ post.data }}</div>
                <div class="post-title">{{ post.titulo }}</div>
                <div class="post-description">{{ post.descricao }}</div>
                {% if post.link %}
                <div class="post-link">
                    <a href="{{ post.link }}">{{ post.link }}</a>
                </div>
            {% endif %}
                <br>
            </div>
            <a href="{% url 'portfolio:delete' post.id %}" class="btn-delete">Delete</a>

            <div class="like">
                <a href="{% url 'portfolio:like' post.id %}" class="curti">👍🏻</a>
                <span class="corSpanBlog">{{post.like}}</span>

                <a href="{% url 'portfolio:deslike' post.id %}" class="curti">👎🏻</a>
                <span class="corSpanBlog">{{post.deslike}}</span>
            </div>
            
        </div>
{% endif %}        
{% endfor %}


<br>

<div class="division">
    <span class="button_sports">Series/Movies</span> 
    <hr>
</div>

{% for post in posts %}
{% if post.typeOfChoice == 3%}
    <div class="post-container">
        <div class="post">
            <div class="post-content">
                <div class="post-author">{{ post.autor }}</div>
                <div class="post-date">{{ post.data }}</div>
                <div class="post-title">{{ post.titulo }}</div>
                <div class="post-description">{{ post.descricao }}</div>
                {% if post.link %}
                <div class="post-link">
                    <a href="{{ post.link }}">{{ post.link }}</a>
                </div>
            {% endif %}
                <br>
            </div>
            <a href="{% url 'portfolio:delete' post.id %}" class="btn-delete">Delete</a>

            <div class="like">
                <a href="{% url 'portfolio:like' post.id %}" class="curti">👍🏻</a>
                <span class="corSpanBlog">{{post.like}}</span>

                <a href="{% url 'portfolio:deslike' post.id %}" class="curti">👎🏻</a>
                <span class="corSpanBlog">{{post.deslike}}</span>
            </div>
            
        </div>
{% endif %}          
{% endfor %}

<br>

<div class="division">
    <span class="button_sports">Sports</span> 
    <hr>
</div>

{% for post in posts %}
{% if post.typeOfChoice == 4%}
    <div class="post-container">
        <div class="post">
            <div class="post-content">
                <div class="post-author">{{ post.autor }}</div>
                <div class="post-date">{{ post.data }}</div>
                <div class="post-title">{{ post.titulo }}</div>
                <div class="post-description">{{ post.descricao }}</div>
                {% if post.link %}
                <div class="post-link">
                    <a href="{{ post.link }}">{{ post.link }}</a>
                </div>
            {% endif %}
                <br>
            </div>
            <a href="{% url 'portfolio:delete' post.id %}" class="btn-delete">Delete</a>

            <div class="like">
                <a href="{% url 'portfolio:like' post.id %}" class="curti">👍🏻</a>
                <span class="corSpanBlog">{{post.like}}</span>

                <a href="{% url 'portfolio:deslike' post.id %}" class="curti">👎🏻</a>
                <span class="corSpanBlog">{{post.deslike}}</span>
            </div>
            
        </div>
{% endif %}          
{% endfor %}






{% endblock main %}

