{% extends  "portfolio/layout.html" %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block main %}
        <p></p>
        <div class="pimg1">
        <img class="imageBlogFirst" src="{% static 'portfolio/images/blog.png' %}" style="min-height: 72%;">
            <div class="ptext">
                <span class="border">Blog</span>
            </div>
        </div>

        <section class="section section section-light">
            <h2 class="title-section">Color Hunt</h2>
            <p class="pBlog">
                A plataforma
                <a href="https://colorhunt.co/" class="ligacao">Color Hunt</a> é
                uma ferramenta valiosa para designers e desenvolvedores que
                procuram inspiração para as suas paletes de cores. A plataforma
                oferece uma interface simples e fácil de usar, permitindo que os
                utilizadores pesquisem paletes de cores por tema ou nome da cor.
                Além disso, as paletes podem ser salvas e partilhadas com outras
                pessoas, tornando a plataforma uma ótima opção para colaboração
                em equipa. A Color Hunt também oferece a opção de fazer o
                download das paletas em diferentes formatos, tornando a
                integração com outros softwares de design e desenvolvimento de
                sites fácil e rápida. Ao usar a plataforma Color Hunt em seus
                projetos, os designers e desenvolvedores podem economizar tempo
                e garantir uma aparência consistente e profissional para seus
                designs, além de encontrar inspiração para novas ideias de
                paletas de cores.
            </p>
        </section>

        <div class="pimg2">
            <div class="ptext">
                <span class="border"></span>
            </div>
        </div>

        <section class="section section section-dark">
            <h2 class="title-section">ChatGPT</h2>
            <p class="pBlog">
                O
                <a href="https://chat.openai.com/" class="ligacao">ChatGPT</a> é
                um modelo de linguagem avançado que usa algoritmos de
                aprendizado de máquina para gerar texto em vários idiomas e
                oferecer recursos como resumo de texto, tradução e análise de
                sentimento. É uma solução poderosa e versátil para quem busca
                recursos avançados de processamento de linguagem natural em seus
                projetos.
            </p>
        </section>

        <div class="pimg3">
            <div class="ptext">
                <span class="border"></span>
            </div>
        </div>

        <section class="section section section-dark">
            <h2 class="title-section">Tecnologia Tesla</h2>
            <p class="pBlog">
                Este vídeo mostra a tecnologia de condução autónoma da Tesla em
                ação. É uma tecnologia muito avançada que utiliza sensores e
                algoritmos para permitir que um carro se conduza sem a
                intervenção do motorista. É uma tecnologia nova e emocionante
                que está a ser continuamente desenvolvida e melhorada pela
                Tesla.
            </p>
        </section>

        <div class="pimg4">
            <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/tlThdr3O5Qo"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
            ></iframe>
            <div class="ptext">
                <span class="border"></span>
            </div>
        </div>




{% endblock main %}





