{% extends  "portfolio/layout.html" %}
{% load static %}
{% block title %}Register{% endblock %}
{% block main %}

<div class="caixaBody">

<div class="register">

    <h1>Regist</h1>

    <form action="{% url 'portfolio:registerU' %}" method="POST">

        {% csrf_token %}
        <p>
            <span>Username:</span> <br>
            <input type="text" name="username" placeholder="username" class="caixaPreenchimento">
        </p>

        <p>
            <span>Email:</span> <br>
            <input type="text" name="email" placeholder="email" class="caixaPreenchimento">
        </p>

        <p>
            <span>Password:</span> <br>
            <input type="password" name="password" placeholder="password" class="caixaPreenchimento">
        </p>
        
  
        <input type="submit" value="Create" class="signIn">

        
    </form>

</div>

</div>

{% endblock main %}